// General Variables
$transition: all 0.2s ease-in-out;
$font-family: Calibri Light, Candara, Segoe, Segoe UI, Roboto, Optima, Arial,
  sans-serif;

// Colors
$primary-color: #009bd9;
$knauf-beige: rgb(241, 241, 233);
$knauf-black: #4c4c4c;
$knauf-light-black: #b8b1a8;
