@import "../../styles/utilities/variables";

.footer {
  padding: 0.5rem;
  display: flex;
  place-content: center;
  align-items: center;
  background-color: $primary-color;

  .copyright {
    color: white;
    line-height: 1.5rem;
  }
}
